<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GMB</title>
</head>
<body>
    <h3>
        GMB
    </h3>
    <details>
        <summary>
            🔥 How to use 🔥
        </summary>
    <h5>1️⃣ : Facebook GMB 페이지에 '발급'을 전송하고 uuid를 받습니다.</h5>
    <h5>2️⃣ : 등록할 레포 > Settings > Webhooks > Add Webhook </h5>
    <h5>3️⃣ : payloadurl = https://gmb.com/github/{uuid} </h5>
    <h5>4️⃣ : Content type = application/json</h5>
    <h5>5️⃣ : Send me Anything && Add Webhook</h5>
    </details>

    <details>
        <summary>
            ⛔️ Before use ⛔️
        </summary>
    <h5>🔴 urlencoder 또는 올바르지 않은 uuid 설정할 경우 원할한 진행이 되지 않을 수 있습니다.</h5>
    <h5>🔴 event_amt는 웹훅을 등록한 후, push :: issue :: pull_request의 횟수만을 기록합니다</h5>
    </details>
</div>

<table border="1" width="600px">
    <thread>
        <tr>
            <th>name</th>
            <th>url</th>
            <th>event_amt</th>
        </tr>
    </thread>
    {% for repository in repo_list %}

        <tr>
            <td>
                {{ repository.repo_name }}
            </td>
            <td>
                <a href={{ 'https://'+repository.url }}>{{ repository.url }}</a>
            </td>
            <td>
                {{ repository.event_amt }}
            </td>
        </tr>

    {% endfor %}

</table>
</body>
</html>
